*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header-container-1 {
    width: 100%;
    height: auto;
    display: grid;
    background-color:  #2B2C2C;
    grid-template-columns: 1fr 1fr;
}

.left-section-1 {
    display: flex;
    justify-content: flex-end;
    grid-column: 1;
}

.left-section-1 img {
    width: 150px;
    margin-right: 200px;
}

.right-section-1 {
    grid-column: 2;
    margin-left: -100px ;
    display: flex;
}

.info-header-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-header-container-1 {
  display: flex;
  margin-right: 150px;
}

.info-header-container-1 ul:has(a[href*="Caracteristicas"]),
.info-header-container-1 ul:has(a[href*="Contacto"]) {
  width: 120px;
}

.info-header-container-1 ul:has(a[href*="Precios"]),
.info-header-container-1 ul:has(a[href*="Servicios"]),
.info-header-container-1 ul:has(a[href*="Contacto"]){
  width: 80px;
}

.info-header-container-1 ul:has(a[href*="Nuestros Clientes"]){
 width: 140px;
}

.info-header-1 ul {
    width: 170px;
    height: 50px;
    margin: 3px;
    border: none;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-header-1 ul li {
    text-align: center;
}

.info-header-1 ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.info-header-1 ul li a:hover {
  color: #44D3AC ;
}