*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 9%;
    background: black;
}

.header img {
    width: 250px;
}

.navlist {
    display: flex;
}

.navlist li {
    list-style: none;
}

.navlist a{

    color: white;
    margin-left: 60px;
    font-size: 18px;
    font-weight: 600;
    transition: all .55s ease;
    text-decoration: none;
}

#menu-icon {
    color: white;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

@media (max-width: 990px) {
    #menu-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        background: black;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }

    .navlist a {
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }

    .navlist.open {
        right: 0;
    }
}